nav{
    height: 100px;
    z-index: 0;
}
#navbarNavAltMarkup{
    justify-content: center;
}

body{
    background-image: url('../../styles/img/background.avif');
    background-size: cover;
}



.nav-link {
    font-size: 16px;
    transition: all 0.2s; 
    padding: 10px 20px;
    border-radius: 10px; 
  }
  
  .nav-link:hover {
    font-size: 20px;
    background-color: rgba(207, 194, 194, 0.171); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  }

.navbar {
    background-color: transparent; 
    border: none;
    margin: 10px; 
  }
  
  .navbar-brand {
    font-size: 24px; 
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.2s;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    font-size: 20px;
    background-color: rgba(207, 194, 194, 0.171);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  