.Home > article{
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

.Home article > h2{
  background-color: rgba(207, 194, 194, 0.171); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  padding: 2%;
  font-size: 150%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.Home > h1{
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 5%;
}

.CardTitle{
  padding: 1%;
}


.cardWrapper {
  margin: 10px; 
}


